# Final Project 2023

description to be added

## Setup

In [1]:
# All import statements needed for the project

import json
import pathlib
import urllib.parse
import os
from sodapy import Socrata

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
import sqlalchemy as db

from sqlalchemy.orm import declarative_base

In [2]:
# Any constants might needed

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
ZIPCODE_DATA_FILE = DATA_DIR / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "IRRl7waby6A5Hecvpg5A8mGG0"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/"
NYC_DATA_311 = "erm2-nwe9.geojson"
NYC_DATA_TREES = "5rq2-4hqu.geojson"

DB_NAME = "FINAL_PROJECT_4501_2023"
DB_USER = "luyueying"
DB_URL = f"postgresql://luyueying:yvonne0807@localhost/finalproject"   
DB_SCHEMA_FILE = "schema.sql"

# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [3]:
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

## Part 1 : Data preprocessing

In [4]:
def download_nyc_csv_data(data_url, access_token, start_dt, end_dt, storage_year=None, filename='NYC_311_Service_Requests', overwrite=False):
    """
    Fetches NYC open data in CSV format for a given period.

    Args:
        data_url (str): Base URL for the data to be downloaded.
        access_token (str): Token for API access.
        start_dt (str): Start date for data retrieval.
        end_dt (str): End date for data retrieval.
        storage_year (int): Year for naming the CSV file. Defaults to None.
        filename (str): Filename to be stored. Defaults to be 'NYC_311_Service_Requests'.
        overwrite (bool, optional): Overwrites existing file if True. Defaults to False.

    Returns:
        None
    """
    
    # Set data storage directory 
    DATA_FOLDER = 'data'
    os.makedirs(DATA_FOLDER, exist_ok=True)

    # Initialize variables
    records_per_request = 50000000
    next_record = 0
    data_collected = False

    # Set CSV file name and path
    csv_filename = f"{filename}_{storage_year}.csv"
    csv_file_path = os.path.join(DATA_FOLDER, csv_filename)

    if not overwrite and os.path.exists(csv_file_path):
        print("File already exists. Set 'overwrite=True' to overwrite.")
        return

    # Download data
    while not data_collected:
        # Constructing the API query with pagination
        query = f"?$$app_token={access_token}&$where=created_date between '{start_dt}' and '{end_dt}'&$limit={records_per_request}&$offset={next_record}"
        complete_data_url = f"{data_url}{query}"

        response = requests.get(complete_data_url)

        if response.status_code != 200:
            print(f"Failed to download data. HTTP Status: {response.status_code}")
            break

        # Write data to CSV file
        mode = 'wb' if next_record == 0 else 'ab'
        with open(csv_file_path, mode) as f:
            f.write(response.content)

        next_record += records_per_request
        data_collected = len(response.content) < records_per_request

    return

## zipcode

In [5]:
print("Shapefile (nyc_zipcodes.shp) examples:")
gdf_zip_code = gpd.read_file(ZIPCODE_DATA_FILE)
print(gdf_zip_code.head())

Shapefile (nyc_zipcodes.shp) examples:
  ZIPCODE BLDGZIP   PO_NAME  POPULATION          AREA STATE  COUNTY ST_FIPS  \
0   11436       0   Jamaica     18681.0  2.269930e+07    NY  Queens      36
1   11213       0  Brooklyn     62426.0  2.963100e+07    NY   Kings      36
2   11212       0  Brooklyn     83866.0  4.197210e+07    NY   Kings      36
3   11225       0  Brooklyn     56527.0  2.369863e+07    NY   Kings      36
4   11218       0  Brooklyn     72280.0  3.686880e+07    NY   Kings      36

  CTY_FIPS                   URL  SHAPE_AREA  SHAPE_LEN  \
0      081  http://www.usps.com/         0.0        0.0
1      047  http://www.usps.com/         0.0        0.0
2      047  http://www.usps.com/         0.0        0.0
3      047  http://www.usps.com/         0.0        0.0
4      047  http://www.usps.com/         0.0        0.0

                                            geometry
0  POLYGON ((1038098.252 188138.380, 1038141.936 ...
1  POLYGON ((1001613.713 186926.440, 1002314.243 ...
2  POLYGON ((1011174.276 183696.338, 1011373.584 ...
3  POLYGON ((995908.365 183617.613, 996522.848 18...
4  POLYGON ((991997.113 176307.496, 992042.798 17...

In [6]:
def load_and_clean_zipcodes(zipcode_datafile):
    """
    Load and clean NYC zipcode data from a shapefile.
    
    Args:
        zipcode_datafile (str): This is the file path from which we can get the 'nyc_zipcodes.shp' shapefile.
    
    Returns:
        NYC zipcodes data in geospatial data frame.
    """
    
    gdf_zip_code = gpd.read_file(zipcode_datafile)
    
    # Only keep the columns that will be needed afterwards
    columns_to_keep_zip = ['ZIPCODE', 'PO_NAME', 'POPULATION', 'AREA', 'COUNTY', 'geometry']
    gdf_zip_code = gdf_zip_code[columns_to_keep_zip]

    # Remove invalid data points: including null and duplicate values
    gdf_zip_code = gdf_zip_code.dropna()
    gdf_zip_code.drop_duplicates(inplace=True)
    gdf_zip_code.drop_duplicates(subset='ZIPCODE', keep='first', inplace=True)

    # Normalize column names
    gdf_zip_code = gdf_zip_code.rename(columns={'PO_NAME': 'Region'})
    gdf_zip_code.columns = [column_name.lower() for column_name in gdf_zip_code.columns]
    gdf_zip_code.columns = [column_name.replace(' ', '_') for column_name in gdf_zip_code.columns]
    
    # Normalize column types
    gdf_zip_code['zipcode']=gdf_zip_code['zipcode'].astype(int)
    gdf_zip_code['population']=gdf_zip_code['population'].astype(int)
    
    # Normalize the SRID of geometry.
    gdf_zip_code.crs = 'EPSG:4326'
    
    return gdf_zip_code

In [7]:
load_and_clean_zipcodes(ZIPCODE_DATA_FILE).head(5)

,zipcode,region,population,area,county,geometry
0,11436,Jamaica,18681,2.269930e+07,Queens,"POLYGON ((1038098.25187 188138.38001, 1038141...."
1,11213,Brooklyn,62426,2.963100e+07,Kings,"POLYGON ((1001613.71296 186926.43952, 1002314...."
2,11212,Brooklyn,83866,4.197210e+07,Kings,"POLYGON ((1011174.27554 183696.33771, 1011373...."
3,11225,Brooklyn,56527,2.369863e+07,Kings,"POLYGON ((995908.36545 183617.61280, 996522.84..."
4,11218,Brooklyn,72280,3.686880e+07,Kings,"POLYGON ((991997.11343 176307.49586, 992042.79..."

## 311 data

Download "311 Service Requests" data from NYC OpenData in three downloads, one for each three-year cohort.

In [8]:
api_url="https://data.cityofnewyork.us/resource/erm2-nwe9.csv"
access_token=NYC_DATA_APP_TOKEN
start_dt="2015-01-01T00:00:00.000"
end_dt="2017-12-31T23:59:59.999"
storage_year="2015_2017"
download_nyc_csv_data(api_url, access_token, start_dt, end_dt, storage_year)

File already exists. Set 'overwrite=True' to overwrite.

In [9]:
api_url="https://data.cityofnewyork.us/resource/erm2-nwe9.csv"
access_token=NYC_DATA_APP_TOKEN
start_dt="2018-01-01T00:00:00.000"
end_dt="2020-12-31T23:59:59.999"
storage_year="2018_2020"
download_nyc_csv_data(api_url, access_token, start_dt, end_dt, storage_year)

File already exists. Set 'overwrite=True' to overwrite.

In [10]:
api_url="https://data.cityofnewyork.us/resource/erm2-nwe9.csv"
access_token=NYC_DATA_APP_TOKEN
start_dt="2021-01-01T00:00:00.000"
end_dt="2023-12-31T23:59:59.999"
storage_year="2021_2023"
download_nyc_csv_data(api_url, access_token, start_dt, end_dt, storage_year)

File already exists. Set 'overwrite=True' to overwrite.

In [11]:
# Read and concatenate the CSV files
file_paths = ['data/NYC_311_Service_Requests_2015_2017.csv', 
              'data/NYC_311_Service_Requests_2018_2020.csv', 
              'data/NYC_311_Service_Requests_2021_2023.csv']
dataframes = [pd.read_csv(file_path) for file_path in file_paths]
df_service = pd.concat(dataframes, ignore_index=True)
print(df_service.head())

/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_1124/3162404035.py:5: DtypeWarning: Columns (0,8,17,24,26,27,31,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file_path) for file_path in file_paths]
/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_1124/3162404035.py:5: DtypeWarning: Columns (0,8,17,20,24,26,27,31,32,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file_path) for file_path in file_paths]
/var/folders/54/bdv2qbr96jd6kdyn944zk2j00000gn/T/ipykernel_1124/3162404035.py:5: DtypeWarning: Columns (0,8,20,24,26,27,31,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes = [pd.read_csv(file_path) for file_path in file_paths]

  unique_key             created_date              closed_date agency  \
0   38070156  2017-12-31T23:59:35.000  2018-01-04T19:27:02.000    HPD
1   38067146  2017-12-31T23:59:34.000  2018-01-01T00:57:19.000   NYPD
2   38066214  2017-12-31T23:59:15.000  2018-01-01T02:48:23.000   NYPD
3   38068680  2017-12-31T23:58:57.000  2018-01-01T05:20:18.000   NYPD
4   38067041  2017-12-31T23:58:38.000  2018-01-01T02:53:28.000   NYPD

                                         agency_name           complaint_type  \
0  Department of Housing Preservation and Develop...           HEAT/HOT WATER
1                    New York City Police Department      Noise - Residential
2                    New York City Police Department      Noise - Residential
3                    New York City Police Department          Illegal Parking
4                    New York City Police Department  Noise - Street/Sidewalk

                     descriptor               location_type incident_zip  \
0               ENTIRE BUILDING        RESIDENTIAL BUILDING      10030.0
1                  Loud Talking  Residential Building/House      10035.0
2              Loud Music/Party  Residential Building/House      10466.0
3  Commercial Overnight Parking             Street/Sidewalk      11378.0
4              Loud Music/Party             Street/Sidewalk      11230.0

       incident_address  ... vehicle_type taxi_company_borough  \
0  181 WEST  135 STREET  ...          NaN                  NaN
1   2048 MADISON AVENUE  ...          NaN                  NaN
2    1902 NEREID AVENUE  ...          NaN                  NaN
3        66-27 53 DRIVE  ...          NaN                  NaN
4         1201 AVENUE H  ...          NaN                  NaN

  taxi_pick_up_location bridge_highway_name bridge_highway_direction  \
0                   NaN                 NaN                      NaN
1                   NaN                 NaN                      NaN
2                   NaN                 NaN                      NaN
3                   NaN                 NaN                      NaN
4                   NaN                 NaN                      NaN

  road_ramp bridge_highway_segment   latitude  longitude  \
0       NaN                    NaN  40.815127 -73.943252
1       NaN                    NaN  40.808655 -73.938532
2       NaN                    NaN    40.8987 -73.848528
3       NaN                    NaN  40.729532 -73.898776
4       NaN                    NaN  40.629675 -73.964939

                                          location
0   \n,  \n(40.81512716367139, -73.94325184979488)
1   \n,  \n(40.808655433596286, -73.9385324265721)
2  \n,  \n(40.898700230687574, -73.84852828525699)
3   \n,  \n(40.72953216228737, -73.89877612652388)
4    \n,  \n(40.6296752952143, -73.96493899217168)

[5 rows x 41 columns]

In [12]:
df_service.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24985933 entries, 0 to 24985932
Data columns (total 41 columns):
 #   Column                          Dtype
---  ------                          -----
 0   unique_key                      object
 1   created_date                    object
 2   closed_date                     object
 3   agency                          object
 4   agency_name                     object
 5   complaint_type                  object
 6   descriptor                      object
 7   location_type                   object
 8   incident_zip                    object
 9   incident_address                object
 10  street_name                     object
 11  cross_street_1                  object
 12  cross_street_2                  object
 13  intersection_street_1           object
 14  intersection_street_2           object
 15  address_type                    object
 16  city                            object
 17  landmark                        object
 18  facility_type                   object
 19  status                          object
 20  due_date                        object
 21  resolution_description          object
 22  resolution_action_updated_date  object
 23  community_board                 object
 24  bbl                             object
 25  borough                         object
 26  x_coordinate_state_plane        object
 27  y_coordinate_state_plane        object
 28  open_data_channel_type          object
 29  park_facility_name              object
 30  park_borough                    object
 31  vehicle_type                    object
 32  taxi_company_borough            object
 33  taxi_pick_up_location           object
 34  bridge_highway_name             object
 35  bridge_highway_direction        object
 36  road_ramp                       object
 37  bridge_highway_segment          object
 38  latitude                        object
 39  longitude                       object
 40  location                        object
dtypes: object(41)
memory usage: 7.6+ GB

In [13]:
def clean_311_data():
    """
    Merge the three csvs downloaded before about 311 service and clean it.
    
    Returns:
        NYC 311 service data in data frame.
    """
    
    df_service = pd.concat(dataframes, ignore_index=True)
    
    # Only keep the columns that will be needed afterwards
    columns_to_keep_service = ['unique_key', 'created_date', 'complaint_type', 'incident_zip', 'latitude', 'longitude']
    df_service = df_service[columns_to_keep_service]

    # Remove invalid data points: including null and duplicate values
    df_service.dropna(inplace=True)
    df_service.drop_duplicates(inplace=True)
    df_service = df_service.drop_duplicates(subset=['unique_key'])
    
    # Normalize column names
    df_service.rename(columns={'incident_zip': 'zipcode'}, inplace=True)
    df_service.rename(columns={'created_date': 'date'}, inplace=True)
    df_service.columns = [column_name.lower() for column_name in df_service.columns]
    df_service.columns = [column_name.replace(' ', '_') for column_name in df_service.columns]
    
    df_service = df_service[df_service['unique_key'].apply(lambda x: str(x).isdigit())]

    # Normalize Column Types
    df_service['unique_key'] = df_service['unique_key'].astype('int64')
    df_service['zipcode'] = df_service['zipcode'].astype(str)
    
    
    # Formatting and sorting dates
    df_service['date'] = pd.to_datetime(df_service['date']).dt.strftime('%Y-%m-%d')
    df_service = df_service.sort_values(by='date')
    
    # Convert DataFrame to GeoDataFrame and set CRS
    df_service = gpd.GeoDataFrame(df_service, geometry=gpd.points_from_xy(df_service['longitude'], df_service['latitude']))
    df_service.set_crs(epsg=4326, inplace=True)
    
    return df_service

In [14]:
clean_311_data()

,unique_key,date,complaint_type,zipcode,latitude,longitude,geometry
7236766,29614676,2015-01-01,Sanitation Condition,10011,40.73869745166186,-73.99790704296768,POINT (-73.99791 40.73870)
7237351,29614072,2015-01-01,Noise - Residential,11249,40.71338742594657,-73.96242764985362,POINT (-73.96243 40.71339)
7237350,29616474,2015-01-01,Missed Collection (All Materials),10314,40.61772901320018,-74.12881502052731,POINT (-74.12882 40.61773)
7237349,29616305,2015-01-01,Water System,11360,40.776535459756666,-73.7860177531242,POINT (-73.78602 40.77654)
7237348,29617978,2015-01-01,Illegal Parking,10023,40.77905419660125,-73.97857751720932,POINT (-73.97858 40.77905)
...,...,...,...,...,...,...,...
15575471,59667305,2023-12-08,Derelict Vehicles,10033.0,40.846318,-73.93274,POINT (-73.93274 40.84632)
15575470,59667303,2023-12-08,Derelict Vehicles,10019.0,40.764278,-73.992094,POINT (-73.99209 40.76428)
15575469,59676143,2023-12-08,Derelict Vehicles,11231.0,40.67327,-74.010505,POINT (-74.01050 40.67327)
15575468,59674686,2023-12-08,Derelict Vehicles,10033.0,40.851986,-73.928425,POINT (-73.92843 40.85199)
15575477,59673761,2023-12-08,Traffic Signal Condition,10306.0,40.560828,-74.134809,POINT (-74.13481 40.56083)

## Download tree data

Download "2015 Street Tree Census - Tree Data" from NYC OpenData

In [15]:
def download_nyc_tree_data():
    """
    Fetch NYC tree data and save it as a CSV file.

    Returns:
        None
    """
    
    DATA_FOLDER = 'data'
    os.makedirs(DATA_FOLDER, exist_ok=True)    
    csv_filename = "NYC_Tree_2015.csv"
    csv_file_path = os.path.join(DATA_FOLDER, csv_filename)

    # Initialize the client with your domain and app token
    client = Socrata("data.cityofnewyork.us", NYC_DATA_APP_TOKEN)

    # Fetch the data
    results = client.get("5rq2-4hqu", limit=700000)

    # Convert to pandas DataFrame
    results_df = pd.DataFrame.from_records(results)

    # Save the DataFrame as a CSV file
    results_df.to_csv(csv_file_path, index=False)
    return

In [16]:
download_nyc_tree_data()

In [17]:
df_tree = pd.read_csv('data/NYC_Tree_2015.csv')
print(df_tree.head())

   created_at  tree_id  block_id  \
0  08/27/2015   180683    348711
1  09/03/2015   200540    315986
2  09/05/2015   204026    218365
3  09/05/2015   204337    217969
4  08/30/2015   189565    223043

                                            the_geom  tree_dbh  stump_diam  \
0  {'type': 'Point', 'coordinates': [-73.84421521...         3           0
1  {'type': 'Point', 'coordinates': [-73.81867945...        21           0
2  {'type': 'Point', 'coordinates': [-73.93660770...         3           0
3  {'type': 'Point', 'coordinates': [-73.93445615...        10           0
4  {'type': 'Point', 'coordinates': [-73.97597938...        21           0

  curb_loc status health                           spc_latin  ... st_assem  \
0   OnCurb  Alive   Fair                         Acer rubrum  ...       28
1   OnCurb  Alive   Fair                   Quercus palustris  ...       27
2   OnCurb  Alive   Good  Gleditsia triacanthos var. inermis  ...       50
3   OnCurb  Alive   Good  Gleditsia triacanthos var. inermis  ...       53
4   OnCurb  Alive   Good                     Tilia americana  ...       44

  st_senate   nta            nta_name  boro_ct     state   latitude  \
0        16  QN17        Forest Hills  4073900  New York  40.723092
1        11  QN49          Whitestone  4097300  New York  40.794111
2        18  BK90   East Williamsburg  3044900  New York  40.717581
3        18  BK90   East Williamsburg  3044900  New York  40.713537
4        21  BK37  Park Slope-Gowanus  3016500  New York  40.666778

   longitude          x_sp           y_sp
0 -73.844215  1.027431e+06  202756.768749
1 -73.818679  1.034456e+06  228644.837379
2 -73.936608  1.001823e+06  200716.891267
3 -73.934456  1.002420e+06  199244.253136
4 -73.975979  9.909138e+05  182202.425999

[5 rows x 42 columns]

In [18]:
df_tree.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683788 entries, 0 to 683787
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  683788 non-null  object
 1   tree_id     683788 non-null  int64
 2   block_id    683788 non-null  int64
 3   the_geom    683788 non-null  object
 4   tree_dbh    683788 non-null  int64
 5   stump_diam  683788 non-null  int64
 6   curb_loc    683788 non-null  object
 7   status      683788 non-null  object
 8   health      652172 non-null  object
 9   spc_latin   652169 non-null  object
 10  spc_common  652169 non-null  object
 11  steward     652173 non-null  object
 12  guards      652172 non-null  object
 13  sidewalk    652172 non-null  object
 14  user_type   683788 non-null  object
 15  problems    652124 non-null  object
 16  root_stone  683788 non-null  object
 17  root_grate  683788 non-null  object
 18  root_other  683788 non-null  object
 19  trnk_wire   683788 non-null  object
 20  trnk_light  683788 non-null  object
 21  trnk_other  683788 non-null  object
 22  brnch_ligh  683788 non-null  object
 23  brnch_shoe  683788 non-null  object
 24  brnch_othe  683788 non-null  object
 25  address     683788 non-null  object
 26  zipcode     683788 non-null  int64
 27  zip_city    683788 non-null  object
 28  cb_num      683788 non-null  int64
 29  borocode    683788 non-null  int64
 30  boroname    683788 non-null  object
 31  cncldist    683788 non-null  int64
 32  st_assem    683788 non-null  int64
 33  st_senate   683788 non-null  int64
 34  nta         683788 non-null  object
 35  nta_name    683788 non-null  object
 36  boro_ct     683788 non-null  int64
 37  state       683788 non-null  object
 38  latitude    683788 non-null  float64
 39  longitude   683788 non-null  float64
 40  x_sp        683788 non-null  float64
 41  y_sp        683788 non-null  float64
dtypes: float64(4), int64(11), object(27)
memory usage: 219.1+ MB

In [19]:
def clean_tree_data():
    """
    Clean tree data downloaded.
    
    Returns:
        NYC 2015 tree data in data frame.
    """
    
    df_tree = pd.read_csv('data/NYC_Tree_2015.csv')
    # Remove unnecessary columns by keeping only the ones you need
    columns_needed = ['created_at', 'tree_id', 'status','zipcode','health','spc_common', 'latitude', 'longitude']  # Replace with actual column names
    df_tree = df_tree[columns_needed]

    # Remove invalid data points: including null and duplicate values
    df_tree.dropna(inplace=True) 
    df_tree.drop_duplicates(inplace=True)

    # Normalize column names
    df_tree.rename(columns={'created_at': 'date'}, inplace=True)
    df_tree.rename(columns={'spc_common': 'species'}, inplace=True)
    df_tree.columns = [column_name.lower() for column_name in df_tree.columns]
    df_tree.columns = [column_name.replace(' ', '_') for column_name in df_tree.columns]
    
    # Normalize Column Types
    df_tree['zipcode'] = df_tree['zipcode'].astype(int)
    df_tree['date'] = pd.to_datetime(df_tree['date']).dt.strftime('%Y-%m-%d')#change date format into yyyy-mm-dd

    # Sorting dates
    df_tree=df_tree.sort_values('date')

    # Convert DataFrame to GeoDataFrame and set CRS
    df_tree = gpd.GeoDataFrame(df_tree, geometry=gpd.points_from_xy(df_tree['longitude'], df_tree['latitude']))
    df_tree.set_crs(epsg=4326, inplace=True)
    return df_tree

In [20]:
clean_tree_data()

,date,tree_id,status,zipcode,health,species,latitude,longitude,geometry
520926,2015-05-19,460,Alive,11224,Good,red maple,40.576035,-73.968930,POINT (-73.96893 40.57604)
518694,2015-05-19,29,Alive,10455,Good,Japanese zelkova,40.817659,-73.903728,POINT (-73.90373 40.81766)
519893,2015-05-19,438,Alive,11224,Good,Atlantic white cedar,40.575529,-73.973078,POINT (-73.97308 40.57553)
525097,2015-05-19,466,Alive,10473,Good,American linden,40.813207,-73.862859,POINT (-73.86286 40.81321)
542323,2015-05-19,230,Alive,10459,Poor,sugar maple,40.822537,-73.892965,POINT (-73.89296 40.82254)
...,...,...,...,...,...,...,...,...,...
506259,2016-10-05,722694,Alive,11236,Good,littleleaf linden,40.642404,-73.889086,POINT (-73.88909 40.64240)
498672,2016-10-05,722685,Alive,11206,Good,American linden,40.706990,-73.946016,POINT (-73.94602 40.70699)
496182,2016-10-05,722693,Alive,11236,Good,littleleaf linden,40.642348,-73.889021,POINT (-73.88902 40.64235)
497005,2016-10-05,722690,Alive,11236,Good,American linden,40.641570,-73.888160,POINT (-73.88816 40.64157)
505290,2016-10-05,722687,Alive,11206,Fair,swamp white oak,40.707027,-73.945624,POINT (-73.94562 40.70703)

## zillow data

In [21]:
df_zillow = pd.read_csv(ZILLOW_DATA_FILE)
print("\nCSV file (zillow_rent_data.csv) examples:")
print(df_zillow.head())

CSV file (zillow_rent_data.csv) examples:
   RegionID  SizeRank  RegionName RegionType StateName State      City  \
0     91982         1       77494        zip        TX    TX      Katy
1     91940         3       77449        zip        TX    TX      Katy
2     91733         5       77084        zip        TX    TX   Houston
3     93144         6       79936        zip        TX    TX   El Paso
4     62093         7       11385        zip        NY    NY  New York

                                   Metro        CountyName   2015-01-31  ...  \
0   Houston-The Woodlands-Sugar Land, TX  Fort Bend County  1606.206406  ...
1   Houston-The Woodlands-Sugar Land, TX     Harris County  1257.814660  ...
2   Houston-The Woodlands-Sugar Land, TX     Harris County          NaN  ...
3                            El Paso, TX    El Paso County          NaN  ...
4  New York-Newark-Jersey City, NY-NJ-PA     Queens County          NaN  ...

    2022-12-31   2023-01-31   2023-02-28   2023-03-31   2023-04-30  \
0  1994.653463  2027.438438  2042.237444  2049.325559  2016.531345
1  1749.697900  1738.217986  1747.305840  1758.407295  1758.891075
2  1701.217520  1706.900064  1706.067787  1723.722320  1735.484670
3  1419.480272  1458.063897  1471.726681  1466.734658  1456.175660
4  2935.808220  2895.699421  2873.209025  2881.906361  2913.546218

    2023-05-31   2023-06-30   2023-07-31   2023-08-31   2023-09-30
0  2023.438976  2031.558202  2046.144009  2053.486247  2055.771355
1  1762.980879  1771.751591  1779.338402  1795.384582  1799.631140
2  1752.132904  1756.990323  1754.429516  1757.602011  1755.031490
3  1462.478506  1466.267391  1490.237063  1488.180414  1494.366097
4  2963.964134  3005.735342  3034.413822  3064.476503  3079.585783

[5 rows x 114 columns]

In [22]:
def load_and_clean_zillow_data():
    """
    Load and clean zillow data from a csv.
    
    Returns:
        Zillow data in DataFrame.
    """
    df_zillow = pd.read_csv(ZILLOW_DATA_FILE)
    
    # Drop the columns that will not be needed afterwards
    columns_to_drop_zillow = ['SizeRank', 'RegionType', 'StateName']
    df_zillow = df_zillow.drop(columns=columns_to_drop_zillow)

    # Remove duplicate values
    df_zillow = df_zillow[df_zillow['State'] == 'NY'] # We only care about the data in NY

    # Normalize column names
    df_zillow = df_zillow.rename(columns={'RegionName': 'ZipCode'})
    df_zillow = df_zillow.rename(columns={'CountyName': 'County'})
    df_zillow.columns = [column_name.lower() for column_name in df_zillow.columns]
    df_zillow.columns = [column_name.replace(' ', '_') for column_name in df_zillow.columns]
    
    # Normalize column types
    df_zillow['zipcode']=df_zillow['zipcode'].astype(int)


    # Convert the data from wide format to long format
    # Melt the DataFrame to have Date and Rent as separate columns
    date_columns = [col for col in df_zillow.columns if '-' in col]
    df_zillow = df_zillow.melt(id_vars=['zipcode', 'state', 'city', 'metro', 'county'],
                                     value_vars=date_columns,
                                     var_name='date',
                                     value_name='rent')
    
    # Remove null values
    df_zillow = df_zillow.dropna()
    
    return df_zillow

In [23]:
load_and_clean_zillow_data()

,zipcode,state,city,metro,county,date,rent
5,11226,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,2015-01-31,1944.609891
7,10025,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,2015-01-31,3068.951823
13,11206,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,2015-01-31,2482.829299
14,11221,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,2015-01-31,2125.738807
20,11235,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,2015-01-31,1687.789898
...,...,...,...,...,...,...,...
32650,12207,NY,Albany,"Albany-Schenectady-Troy, NY",Albany County,2023-09-30,1472.777778
32651,10162,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,2023-09-30,5011.666667
32652,11932,NY,Bridgehampton,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,2023-09-30,34062.500000
32653,11930,NY,Amagansett,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,2023-09-30,39999.833333
32654,10004,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,2023-09-30,4355.328283

## load all data

In [24]:
def load_all_data():
    geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
    geodf_311_data = clean_311_data()
    geodf_tree_data = clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [25]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

In [26]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 248 entries, 0 to 262
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zipcode     248 non-null    int64
 1   region      248 non-null    object
 2   population  248 non-null    int64
 3   area        248 non-null    float64
 4   county      248 non-null    object
 5   geometry    248 non-null    geometry
dtypes: float64(1), geometry(1), int64(2), object(2)
memory usage: 13.6+ KB

In [27]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

,zipcode,region,population,area,county,geometry
0,11436,Jamaica,18681,2.269930e+07,Queens,"POLYGON ((1038098.25187 188138.38001, 1038141...."
1,11213,Brooklyn,62426,2.963100e+07,Kings,"POLYGON ((1001613.71296 186926.43952, 1002314...."
2,11212,Brooklyn,83866,4.197210e+07,Kings,"POLYGON ((1011174.27554 183696.33771, 1011373...."
3,11225,Brooklyn,56527,2.369863e+07,Kings,"POLYGON ((995908.36545 183617.61280, 996522.84..."
4,11218,Brooklyn,72280,3.686880e+07,Kings,"POLYGON ((991997.11343 176307.49586, 992042.79..."

In [28]:
geodf_311_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 23667164 entries, 7236766 to 15575477
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   unique_key      int64
 1   date            object
 2   complaint_type  object
 3   zipcode         object
 4   latitude        object
 5   longitude       object
 6   geometry        geometry
dtypes: geometry(1), int64(1), object(5)
memory usage: 1.4+ GB

In [29]:
geodf_311_data.head()

,unique_key,date,complaint_type,zipcode,latitude,longitude,geometry
7236766,29614676,2015-01-01,Sanitation Condition,10011,40.73869745166186,-73.99790704296768,POINT (-73.99791 40.73870)
7237351,29614072,2015-01-01,Noise - Residential,11249,40.71338742594657,-73.96242764985362,POINT (-73.96243 40.71339)
7237350,29616474,2015-01-01,Missed Collection (All Materials),10314,40.61772901320018,-74.12881502052731,POINT (-74.12882 40.61773)
7237349,29616305,2015-01-01,Water System,11360,40.776535459756666,-73.7860177531242,POINT (-73.78602 40.77654)
7237348,29617978,2015-01-01,Illegal Parking,10023,40.77905419660125,-73.97857751720932,POINT (-73.97858 40.77905)

In [30]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 652167 entries, 520926 to 505290
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       652167 non-null  object
 1   tree_id    652167 non-null  int64
 2   status     652167 non-null  object
 3   zipcode    652167 non-null  int64
 4   health     652167 non-null  object
 5   species    652167 non-null  object
 6   latitude   652167 non-null  float64
 7   longitude  652167 non-null  float64
 8   geometry   652167 non-null  geometry
dtypes: float64(2), geometry(1), int64(2), object(4)
memory usage: 49.8+ MB

In [31]:
geodf_tree_data.head()

,date,tree_id,status,zipcode,health,species,latitude,longitude,geometry
520926,2015-05-19,460,Alive,11224,Good,red maple,40.576035,-73.968930,POINT (-73.96893 40.57604)
518694,2015-05-19,29,Alive,10455,Good,Japanese zelkova,40.817659,-73.903728,POINT (-73.90373 40.81766)
519893,2015-05-19,438,Alive,11224,Good,Atlantic white cedar,40.575529,-73.973078,POINT (-73.97308 40.57553)
525097,2015-05-19,466,Alive,10473,Good,American linden,40.813207,-73.862859,POINT (-73.86286 40.81321)
542323,2015-05-19,230,Alive,10459,Poor,sugar maple,40.822537,-73.892965,POINT (-73.89296 40.82254)

In [32]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11312 entries, 5 to 32654
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   zipcode  11312 non-null  int64
 1   state    11312 non-null  object
 2   city     11312 non-null  object
 3   metro    11312 non-null  object
 4   county   11312 non-null  object
 5   date     11312 non-null  object
 6   rent     11312 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 707.0+ KB

In [33]:
df_zillow_data.head()

,zipcode,state,city,metro,county,date,rent
5,11226,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,2015-01-31,1944.609891
7,10025,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,2015-01-31,3068.951823
13,11206,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,2015-01-31,2482.829299
14,11221,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,2015-01-31,2125.738807
20,11235,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,2015-01-31,1687.789898